.appointment {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 20px;
}

.appointment .appointmentChild {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: transform 0.3s ease;
}

.appointment .appointmentChild:hover {
    transform: scale(1.05);
}
.appointment-booking {
    text-align: center;
    margin: 40px;
    color: var(--btn-color);
    font-size: 30px;
    font-weight: 500;
}
.appointment-booking form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.appointment-booking input{
    font-size: 23px;
    margin-left: 10px;
    text-align: left;
    border: 0;
    outline: 0;
}
.appointment-booking label {
    display: block;
    margin-bottom: 10px;
}

.appointment-booking select {
    margin-left: 10px;
}

.appointment-booking button {
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

.appointment-booking button:hover {
    background-color: rgb(139, 0, 0);
}

.list {
    background-color: var(--main-color);
    color: var(--btn-color);
    margin: 40px auto;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

.list h2{
    color: var(--btn-color);
}
.list h3{
    margin: 20px;
}
.appointment .appointmentImags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.appointment .appointmentImags .carousel-control-prev-icon,
.appointment .appointmentImags .carousel-control-next-icon{
    width: 50px;
    height: 50px;
    background-color: var(--main-bg);
    margin: 274% 0px !important;
    border-radius: 10px;
}


.carousel-control-next, .carousel-control-prev {
    display: grid !important;
    justify-content: center;
    align-items: center;
}
.carousel-inner img{
    background-color: var(--main-bg);
}

@media (max-width: 960px) {
    .appointment {
        flex-direction: column;
    }
    .appointment .appointmentChild,
    .appointment .appointmentImags {
        width: 100%;
    }
}
