.Latest{

}
.Latest .cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Latest .cards .card{
    box-shadow: 0px 0px 5px 1px #ffffff;
    width: 330px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Latest .serviceImage .icon{
    width: 250px;
    margin: 15px;
}
.Latest .card .profile{
    width: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--btn-color);
}
.Latest .card .profile img{
    width: 40px;
}
.card-body{
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Latest .card .card-body .card-title{
    font-size: 30px;
    color: var(--btn-color);
    margin-bottom: 20px;
}
.Latest .viewDiv{
    display: flex;
    background-color: var(--btn-color);
    padding: 5px 8px;
    justify-content: space-between;
    border-radius: 10px;
    width: 190px;
    align-items: center;
}

.Latest .view{
    color: var(--main-color);
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 22px 5px 25px !important;
    transition: .3s;
}
.Latest .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    height: 36px;
    background-color: var(--main-color);
    border-radius: 11px;
    transition: .3s;
    color: var(--btn-color);
}
.Latest .card:hover {
    background-color: var(--btn-color);
}
.Latest .card:hover .profile{
    color: var(--main-color);
}
.Latest .card:hover .card-title{
    color: var(--main-color);
}
.Latest .card:hover .viewDiv{
    background-color: var(--main-color);
}
.Latest .card:hover .view{
    color: var(--btn-color);
}
.Latest .card:hover .right{
    background-color: var(--btn-color);
    color: white;
}






