.body{

}
.body .loginPage{
    background-color: var(--main-color);
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 7px #242424;
}
.body .loginPage .logo{
    display: flex;
    justify-content: space-between;
}
.body .loginPage .logo img{
    max-width: 100px;
}
.body .loginPage .logo p{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
}
.body .loginPage .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.body .loginPage .login h3{
    color: var(--btn-color);
}
.body .loginPage .login input{ 
    border-radius: 2px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #777;
    margin: 20px;
    width: 280px;
    text-align: left;
    transition: .4s;
}.body .loginPage .login input:focus{ 
    border-bottom: 3px solid var(--btn-color);
}
.body .loginPage .login input::placeholder{ 
    text-align: start;
}
.body .loginPage .login button {
    margin: 25px 8px 10px;
    font-weight: 500;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body .loginPage .forgetPassword{
    cursor: pointer;
    text-decoration: none;
    color: var(--btn-color);
    font-weight: 500;
    font-size: 25px;
    direction: rtl;
}











