nav a {
    padding: 10px 110px 10px 20px;
    color: var(--btn-color);
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: .3s;
}
.active{
    color: var(--btn-color)!important;
    background-color: var(--main-color)!important;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
}
.nav-item{
    display: flex;
    align-items: center;
}
#basic-navbar-nav .lang{
    margin: 10px;
    text-align: center;
}
#basic-navbar-nav .moon{
    width: 50px;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 6px;
    cursor: pointer;
    font-size: 50px;
}
#basic-navbar-nav .moon:hover,
#basic-navbar-nav .moon:focus{
    background-color: black;
    color: white;
}
#basic-navbar-nav .lang:hover{
    background-color: var(--main-color);
    color: var(--btn-color);
}
.navbar-expand-lg .navbar-nav a{
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    align-items: center;
    font-weight: 500;
}
.navbar-collapse .Contact-But{
    padding: 4px 10px !important;
    color: var(--main-color);
    background-color: var(--btn-color);
    border-radius: 10px;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-collapse .Contact-But:focus,
.navbar-collapse .Contact-But:hover{
    color: var(--btn-color);
    background-color: var(--main-color);
}
.navbar-collapse .Contact-But:focus span,
.navbar-collapse .Contact-But:hover span{
    color: var(--main-color);
    background-color: var(--btn-color);
}
.navbar-collapse .Contact-But span{
    padding: 4px 10px ;
    color: var(--btn-color);
    background-color: var(--main-color);
    border-radius: 10px;
    margin-left: 10px;
}
.dropdown-menu a{
    position: relative;
    overflow: hidden;
    color: var(--btn-color) !important;
    padding: 7px !important;
    background-color: var(--main-bg);
    margin: 8px;
    border-radius: 10px !important;
    width: 140px;
    justify-content: center;
}
.dropdown-menu a::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--btn-color);
    left: -100%;
    bottom: 0;
    transition: .5s;
}
.dropdown-menu a:hover::after, 
.dropdown-menu a:focus::after{
    left: 0
}
nav .phone{
    color: var(--btn-color);
    font-weight: bold !important;
}
.navbar-expand-lg .navbar-nav a:hover,
.navbar-expand-lg .navbar-nav a:focus{
    color: var(--btn-color);
    background-color: var(--main-color);
    border-radius: 10px;
}
nav a:hover,
nav a:focus{
    color: var(--btn-color)!important;
    background-color: var(--main-color);
}
.navbar-collapse #basic-nav-dropdown:focus{
    color: var(--btn-color)!important;
    background-color: var(--main-color);
    border-radius: 5px;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        display: flex;
        align-items: center;
    }
    .navbar-expand-lg .navbar-nav a {
        padding: 0 20px 0px 20px !important;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 992px) {
    .navbar .navbar-toggler-icon{
        background-color: var(--btn-color);
        border-radius: 5px;
    }
    .navbar-toggler:focus{
        border: 3px solid var(--main-color);
    }
    .navbar-expand-lg .navbar-nav a{
        margin-left: 20px;
        width: fit-content;
    }
}




